Flask>=1.0.3
parse>=1.12.0
numpy
Jinja2>=2.10.1
lxml>=4.3.4
typing>=3.7.4
pandas>=0.24.2
basis_set_exchange>=0.8.6
json_tricks>=3.13.1
tornado>=6.0.3
Werkzeug>=0.15.4
ase>=3.17.0
chemdata>=1.5.2
atomtools>=1.7.7
