Flask>=1.0.3
tornado>=6.0.3
basis_set_exchange>=0.8.6
parse>=1.12.0
chemdata>=1.5.2
numpy
Werkzeug>=0.15.4
Jinja2>=2.10.1
pandas>=0.24.2
ase>=3.17.0
json_tricks>=3.13.1
typing>=3.7.4
lxml>=4.3.4
atomtools>=1.8.0
flask_compress>=1.4.0
