numpy
Flask>=1.0.3
parse>=1.12.0
pandas>=0.24.2
ase>=3.17.0
typing>=3.7.4
chemdata>=1.5.2
json_tricks>=3.13.1
tornado>=6.0.3
basis_set_exchange>=0.8.6
Werkzeug>=0.15.4
lxml>=4.3.4
Jinja2>=2.10.1
atomtools>=1.7.8
