{% set ADF_XC_TYPES = {"xonly" : "LDA", "xalpha" : "LDA", "vwn" : "LDA", "stoll" : "LDA", "pw92" : "LDA", "bp86" : "GGA", "pw91" : "GGA", "mpw" : "GGA", "pbe" : "GGA", "rpbe" : "GGA", "revpbe" : "GGA", "mpbe" : "GGA", "pbesol" : "GGA", "htbs" : "GGA", "blyp" : "GGA", "olyp" : "GGA", "opbe" : "GGA", "bee" : "GGA", "xlyp" : "GGA", "ssb-d" : "GGA", "s12g" : "GGA", "lb94" : "GGA", "kt1" : "GGA", "kt2" : "GGA", "m06-l" : "METAGGA", "tpss" : "METAGGA", "revtpss" : "METAGGA", "ssb-d" : "METAGGA", "mvs" : "METAGGA", "ms0" : "METAGGA", "ms1" : "METAGGA", "ms2" : "METAGGA", "scan" : "METAGGA", "b3lyp" : "HYBRID", "b3lyp*" : "HYBRID", "b1lyp" : "HYBRID", "kmlyp" : "HYBRID", "o3lyp" : "HYBRID", "x3lyp" : "HYBRID", "bhandh" : "HYBRID", "bhandhlyp" : "HYBRID", "b1pw91" : "HYBRID", "mpw1pw" : "HYBRID", "mpw1k" : "HYBRID", "pbe0" : "HYBRID", "opbe0" : "HYBRID", "m06" : "METAHYBRID", "m06-2x" : "METAHYBRID", "m06-hf" : "METAHYBRID", "tpssh" : "METAHYBRID"} %}

#!/bin/bash
if [ ! -d ${0/\.run/} ]
then
    mkdir ${0/\.run/}
fi
cd ${0/\.run/}



{% if calc_arrays is defined and 'maxcore' in calc_arrays %}
$ADFBIN/adf -n {{calc_arrays['maxcore'] | int }} << EOF 1>>${0/run/out} 2>>${0/run/err}
{% else %}
$ADFBIN/adf -n 4 << EOF 1>>${0/run/out} 2>>${0/run/err}
! default run with 4 cores
{% endif %}


{% if comments is defined %}
TITLE {{comments}}
{% else %}
TITLE {{symbols.contract_items("string")}}
{% endif %}


BECKEGRID
      Quality good
End


! units
! length angstrom
! END

ATOMS cartesian
{% for i in range(symbols|length) %}
{{symbols[i]}}    {{"%.6f" | format(positions[i][0])}}    {{"%.6f" | format(positions[i][1])}}    {{"%.6f" | format(positions[i][2])}}
{% endfor %}
END



{% if spin is defined %}
CHARGE {{charge|int}} {{spin|int}}
{% else %}
CHARGE {{charge|int}} 
{% endif %}




! unrestricted/restricted
{% if spin is defined and spin != 0 %}
unrestricted
{% elif calc_arrays is defined and calc_arrays['restriction'] %}
{{"unrestricted" if calc_arrays['restriction'][0]|lower=="u" else "restricted"}}
{% endif %}


XC
{% if calc_arrays is defined and calc_arrays['xc'] %}
    {{ADF_XC_TYPES[calc_arrays['xc'] | lower ]}} {{calc_arrays['xc']}}
{% else %}
    GGA PBE
{% endif %}
END




BASIS
{% if calc_arrays is defined and calc_arrays['basis'] and not calc_arrays['basis']|islist %}
{{calc_arrays['basis']}}
{% else %}
    TYPE TZP
    CORE LARGE
{% endif %}
END

! symmetry
{% if symmetry is defined %}
SYMMETRY {{symmetry}}
{% elif calc_arrays is defined and calc_arrays['symmetry'] %}
SYMMETRY {{calc_arrays['symmetry']}}
{% endif %}


{% if calc_arrays is defined and calc_arrays['relativistic'] %}
RELATIVISTIC {{calc_arrays['relativistic']}} 
{# RELATIVISTIC {{calc_arrays['relativistic']['level']}} {{calc_arrays['relativistic']['formalism']}} {{calc_arrays['relativistic']['potential']}} #}
{% endif %}

{% if calc_arrays is defined and calc_arrays['smearq'] %}
occupations smearq={{calc_arrays['smearq']}}
{% endif %}


SCF
{% if calc_arrays is defined and calc_arrays['scf'] and calc_arrays['scf'] != 'default' %}
{{calc_arrays['scf']}}
{% else %}
    iterations 100
    converge 1.0e-6 1.0e-6
    mixing 0.2
    lshift 0.0
    diis n=500 ok=0.00001 cyc=500 cx=5.0 cxx=10.0
{% endif %}
END


{% if calc_arrays is defined and calc_arrays['geometry'] %}
{% if calc_arrays['geometry'] != 'default' %}
GEOMETRY
{{calc_arrays['geometry']}}
End
{% else %}
GEOMETRY
    optim all
    iterations 50
    step rad=0.15 angle=10.0
    hessupd BFGS
    converge e=1.0e-4 grad=1.0e-4 rad=1.0e-2 angle=0.5
END
{% endif %}
{% endif %}


{% if calc_arrays is defined and calc_arrays['freq'] %}
{% if calc_arrays['freq'] != 'default' %}
AnalyticalFreq
{{calc_arrays['freq']}}
End
{% else %}
AnalyticalFreq
MAX_CPKS_ITERATIONS 500
End
{% endif %}
{% endif %}



SAVE  TAPE21

A1FIT 10.0

end input


EOF


