{% set min_cell_size=10.0|int if min_cell_size is not defined else min_cell_size|int %}
{% set Ry_to_eV = 13.6056980659 | float %}
{% set local_cutoff=calc_arrays['cutoff']|float / Ry_to_eV if calc_arrays is defined and 'cutoff' in calc_arrays else 280.000000 %}
###  https://manual.cp2k.org/ 
###  If you have cp2k/data, then please
###     ` export CP2K_DATA_DIR=${{CP2K_DATA_DIR}} `
###  If not, you will have to point the 
###     * BASIS_SET_FILE_NAME
###     * POTENTIAL_FILE_NAME
###    yourself by modifying the related value
###  
###  Or you can download the data by
###     `
###       git init cp2k_data_dir;
###       cd cp2k_data_dir
###       git remote add origin https://github.com/cp2k/cp2k
###       # or you can use `git remote add origin https://code.aliyun.com/autochemistry/cp2k-fork.git` to speed up
###       git config core.sparseCheckout true
###       echo "data/" >> .git/info/sparse-checkout
###       git pull origin master
###     `
###     to download the data from the cp2k github, and export the ENV
###     ` export CP2K_DATA_DIR=$(realpath cp2k_data_dir) `
###
### You can also add cp2k:vim tools
### mkdir -p ~/.vim/syntax
### wget -O ~/.vim/syntax/cp2k.vim http://manual.cp2k.org/trunk/cp2k.vim
&GLOBAL
   PROJECT {{ calc_arrays['project'] if calc_arrays is defined and 'project' in calc_arrays else 'CP2K' }}
   PRINT_LEVEL {{ calc_arrays['print_level'] | upper  if calc_arrays is defined and 'print_level' in calc_arrays else 'MEDIUM' }}
   RUN_TYPE {{ calc_arrays['runtype'] | upper  if calc_arrays is defined and 'runtype' in calc_arrays else 'ENERGY' }}
   # ENERGY WAVEFUNCTION_OPTIMIZATION WFN_OPT
   # ENERGY_FORCE 
   # GEOMETRY_OPTIMIZATION GEO_OPT 
   # CELL_OPT 
   # MD MOLECULAR_DYNAMICS 
   # NORMAL_MODES VIBRATIONAL_ANALYSIS 
   
   # ELECTRONIC_SPECTRA 
   # LINEAR_RESPONSE LR 
   # DRIVER EHRENFEST_DYN 
   # MC 
   # BAND BSSE 
   # DEBUG 
   # NEGF NONE  PINT RT_PROPAGATION SPECTRA TAMC TMC 
&END GLOBAL
&MOTION
   &GEO_OPT
      MAX_ITER  {{calc_arrays['max_geo_number'] | float if calc_arrays is defined and 'max_geo_number' in calc_arrays else 100}}
      OPTIMIZER LBFGS
      MAX_FORCE {{calc_arrays['max_force'] | float if calc_arrays is defined and 'max_force' in calc_arrays else "6.0E-4"}}
      &CG
         &LINE_SEARCH
            TYPE 2PNT
         &END LINE_SEARCH
      &END CG
   &END GEO_OPT
&END MOTION
&FORCE_EVAL
   METHOD QuickStep
   &DFT
      BASIS_SET_FILE_NAME {{calc_arrays['cp2k_basis_set_filename'] if calc_arrays is defined and 'cp2k_basis_set_filename' in calc_arrays else 'BASIS_MOLOPT'}}
      POTENTIAL_FILE_NAME {{calc_arrays['cp2k_potential_filename'] if calc_arrays is defined and 'cp2k_potential_filename' in calc_arrays else 'POTENTIAL'}}
      WFN_RESTART_FILE_NAME ./CP2K-RESTART.wfn
      CHARGE {{charge}}
      MULTIPLICITY {{multiplicity}}
      &MGRID
         CUTOFF {{ local_cutoff }}
         NGRIDS {{ calc_arrays['ngrids'] if calc_arrays is defined and 'ngrids' in calc_arrays else 4 if local_cutoff < 500 else 6 }}
         REL_CUTOFF 50 # 60 if you want it more accurate
      &END MGRID
      &QS
         METHOD {{calc_arrays['method'] | upper if calc_arrays is defined and 'method' in calc_arrays else 'GPW'}}
      &END QS
      &XC
         &XC_FUNCTIONAL {{calc_arrays['xc'] | upper if calc_arrays is defined and 'xc' in calc_arrays else 'PBE'}}
         &END XC_FUNCTIONAL
         # default D3 turned on
         &VDW_POTENTIAL
            POTENTIAL_TYPE PAIR_POTENTIAL
            &PAIR_POTENTIAL
               PARAMETER_FILE_NAME dftd3.dat
               TYPE DFTD3
               REFERENCE_FUNCTIONAL PBE
               # R_CUTOFF [angstrom] 16
            &END
        &END VDW_POTENTIAL
      &END XC
      &SCF
         SCF_GUESS {{calc_arrays['scf_guess'] | upper if calc_arrays is defined and 'scf_guess' in calc_arrays else 'RESTART'}}
         MAX_SCF {{calc_arrays['max_scf_step'] | int if calc_arrays is defined and 'max_scf_step' in calc_arrays else 100}}
         EPS_SCF {{calc_arrays['eps_scf'] | float if calc_arrays is defined and 'eps_scf' in calc_arrays else "1.0E-5"}}
         # CHOLESKY INVERSE
         &OT T
            PRECONDITIONER FULL_ALL
            MINIMIZER {{ calc_arrays['minimizer'] if calc_arrays is defined and 'minimizer' in calc_arrays else 'CG' }}
            LINESEARCH {{ calc_arrays['lines_search'] if calc_arrays is defined and 'lines_search' in calc_arrays else '2PNT' }}
         &END OT
         &OUTER_SCF ON
            MAX_SCF {{calc_arrays['outer_max_scf_step'] | float if calc_arrays is defined and 'outer_max_scf_step' in calc_arrays else 50}}
         &END OUTER_SCF
         {% if calc_arrays is defined and 'smear' in calc_arrays and calc_arrays['smear'] %}
         &SMEAR ON
            METHOD FERMI_DIRAC
            ELECTRONIC_TEMPERATURE [K] {{calc_arrays['temperature'] if calc_arrays is defined and 'temperature' in calc_arrays else 300}}
         &END SMEAR
         ADDED_MOS 500
         &DIAGONALIZATION
            ALGORITHM STANDARD
         &END DIAGONALIZATION
         &MIXING
            METHOD BROYDEN_MIXING
            ALPHA 0.1
            BETA 1.5
            NBROYDEN 8
         &END MIXING
         {% endif %}
      &END SCF
   &END DFT
   &SUBSYS
#       &KIND H
#          BASIS_SET DZVP-MOLOPT-SR-GTH
#          POTENTIAL GTH-PBE-q1
#       &END KIND
#       &KIND O
#          BASIS_SET DZVP-MOLOPT-SR-GTH
#          POTENTIAL GTH-PBE-q6
#       &END KIND
{% for element in ExtList(symbols).deep_contract_items() %}
      &KIND {{element}}
         BASIS_SET DZVP-MOLOPT-SR-GTH
         POTENTIAL GTH-PBE
      &END KIND
{% endfor %}
#       &CELL
#          PERIODIC XYZ
#          ABC 10.000000 10.000000 10.000000
#          ALPHA_BETA_GAMMA 90.000000 90.000000 90.000000
#       &END CELL
      &CELL
         PERIODIC {{'XYZ' if periodic is defined and periodic.all() else 'None' }}
         {% if cell is defined %}
            A {{cell[0][0]}} {{cell[0][1]}} {{cell[0][2]}}
            B {{cell[1][0]}} {{cell[1][1]}} {{cell[1][2]}}
            C {{cell[2][0]}} {{cell[2][1]}} {{cell[2][2]}}
         {% else %}
            A  {{"%.6f" | format([atoms_size[0]*2, min_cell_size] | max)}} 0. 0.
            B 0.  {{"%.6f" | format([atoms_size[1]*2, min_cell_size] | max)}} 0.
            C 0. 0.  {{"%.6f" | format([atoms_size[2]*2, min_cell_size] | max)}}
         {% endif %}
      &END CELL
      &COORD
{% for i in range(symbols|length) %}
{{symbols[i]}}    {{"%.6f" | format(positions[i][0])}}    {{"%.6f" | format(positions[i][1])}}    {{"%.6f" | format(positions[i][2])}}
{% endfor %}
      &END COORD
      &PRINT
         &ATOMIC_COORDINATES
            &EACH
               JUST_ENERGY 1
               GEO_OPT 1
            &END EACH
         &END ATOMIC_COORDINATES
      &END PRINT
   &END SUBSYS
   &PRINT
      &FORCES
      &END FORCES
      &GRID_INFORMATION
      &END GRID_INFORMATION
   &END PRINT
&END FORCE_EVAL
