{% set INTERNAL_BASIS=["sto-3g",
"3-21g",
"6-21g",
"4-31g",
"6-31g",
"6-31g(d)",
"6-31g(d,p)",
"6-311g",
"d95",
"d95v",
"shc",
"cep-4g",
"cep-31g",
"cep-121g",
"lanl2mb",
"lanl2dz",
"sdd",
"sddall",
"cc-pvdz",
"cc-pvtz",
"cc-pvqz",
"cc-pv5z",
"cc-pv6z",
"sv",
"svp",
"tzv",
"tzvp",
"qzvp",
"def2",
"midix",
"epr-ii",
"epr-iii",
"ugbs",
"mtsmall",
"dgdzvp",
"dgdzvp2",
"dgtzvp",
"cbsb7"] %}
{% set INTERNAL_ECP=["lanl2dz", "sdd"] %}
{% set ALL_BASIS_ECP=get_all_basis_names() %}
{% if exec_arrays is defined and 'max_core' in exec_arrays %}
%nproc={{exec_arrays['max_core'] | int}}
{% elif calc_arrays is defined and 'max_core' in calc_arrays %}
%nproc={{calc_arrays['max_core'] | int}}
{% else %}
%nproc=4
{% endif %}
{% if exec_arrays is defined and 'max_memory' in exec_arrays %}
%mem={{exec_arrays['max_memory']}}GB
{% elif calc_arrays is defined and 'max_memory' in calc_arrays %}
%mem={{calc_arrays['max_memory']}}GB
{% else %}
%mem=2GB
{% endif %}
{% if 'chkfilename' in calc_arrays %}
%chk={{ calc_arrays['chkfilename'] | file_basename }}.chk
{% elif filename %}
%chk={{filename | file_basename }}.chk
{% else %}
%chk=preview_gaussian_{{randString}}.chk
{% endif %}
{% if 'oldchkfilename' in calc_arrays %}
%oldchk={{calc_arrays['oldchkfilename'] | file_basename}}.chk
{% endif %}
{% if calc_arrays is defined and calc_arrays['command'] %}
{% if calc_arrays['command'].lower().strip().startswith('p ') %}
#{{calc_arrays['command'].lower().strip()}}
{% else %}
#p {{calc_arrays['command'].lower().strip()}}
{% endif %}
{% else %}
#p force b3lyp/lanl2dz
{% endif %}

{% if comments is defined %}
{{comments}}
{% else %}
Generated by jinja2
{% endif %}

{{charge|int}} {{multiplicity|int}}
{# positions section #}
{% for i in range((symbols|length)) %}
{% if constraints is defined and constraints | length > 0 %}
{{symbols[i]}}    {{"-1" if constraints[i] else " 0"}}    {{"%.6f" | format(positions[i][0])}}    {{"%.6f" | format(positions[i][1])}}    {{"%.6f" | format(positions[i][2])}}
{% else %}
{{symbols[i]}}    {{"%.6f" | format(positions[i][0])}}    {{"%.6f" | format(positions[i][1])}}    {{"%.6f" | format(positions[i][2])}}
{% endif %}
{% endfor %}
{# connectivity section #}
{% if connectivity is defined and calc_arrays is defined and 'connectivity' in calc_arrays['command'] %}

{% for i in range((symbols | length)) %}
{{i+1}}{% for j in range(i+1, (symbols | length)) %}{% set _jinja_conn=connectivity[i][j] %}{% if _jinja_conn|float != 0.0 %} {{j+1}} {{_jinja_conn}}{% endif %}{% endfor %}

{% endfor %}
{% endif %}
{# genecp section #}
{% if calc_arrays is defined and ('gen ' in calc_arrays['command'] or 'genecp ' in calc_arrays['command']) %}

{% if 'genecp' in calc_arrays %}
{{calc_arrays['genecp'].strip()}}
{% elif 'basis' in calc_arrays %}
{% for i in range((symbols|length)) %}
{{i+1}} 0
{% set _jinja_basis=calc_arrays['basis'] %}
{% set _jinja_element_basis=_jinja_basis[i].strip()|lower %}
{% if not _jinja_element_basis in INTERNAL_BASIS and _jinja_element_basis in ALL_BASIS_ECP %}
{{get_basis(_jinja_element_basis, symbols[i], fmt='gaussian94', header=False).split('****')[0]}}
{% else %}
{{_jinja_element_basis}}
{% endif %}
****
{% endfor %}
{% if 'ecp' in calc_arrays and 'genecp ' in calc_arrays['command'] and ''.join(calc_arrays['ecp']) != '' %}
{% set _jinja_ecp=calc_arrays['ecp'] %}

{% for i in range((symbols|length)) %}
{% set _jinja_ecp_element=_jinja_ecp[i] | lower %}
{% if _jinja_ecp_element != '' %}
{{i+1}} 0
{% if not _jinja_ecp_element in INTERNAL_ECP and _jinja_ecp_element in ALL_BASIS_ECP %}
{{get_basis(_jinja_ecp_element, symbols[i], fmt='gaussian94', header=False).split('****')[1]}}
{% else %}
{{_jinja_ecp_element}}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{# nbo_analysis section #}
{% if calc_arrays is defined and 'nbo_analysis' in calc_arrays %}

{{calc_arrays['nbo_analysis']}}
{% endif %}





