{% if calc_arrays is defined and calc_arrays['name'] %}
start {{calc_arrays['name']}}
{% else %}
start {{symbols.deep_contract_items()}}
{% endif %}
title "{{comments}}"

geometry units Angstrom
{% for i in range(symbols|length) %}
{{symbols[i]}}   {{"%.6f" | format(positions[i][0])}}    {{"%.6f" | format(positions[i][1])}}    {{"%.6f" | format(positions[i][2])}}
{% endfor %}
end



{% if calc_arrays is defined and "basis_symbols" in calc_arrays%}
basis
{% for i in range(calc_arrays['basis_symbols']|length) %}
{{calc_arrays['basis_symbols'][i]}}    library    {{calc_arrays['basis_names'][i]}}
{% endfor %}
end
{% endif %}


{% if calc_arrays is defined and calc_arrays['freq'] %}
task {{calc_arrays['task']}}
{% endif %}


