{% if not arrays | islist %}
{{symbols|length}}
{{comments}}
{% for i in range(symbols|length) %}
{{symbols[i]}}    {{positions[i][0]}}    {{positions[i][1]}}    {{positions[i][2]}}
{% endfor %}
{% else %}
{% for arr in arrays %}
{{arr['symbols']|length}}
{{arr['comments']}}
{% for i in range(arr['symbols']|length) %}
{{arr['symbols'][i]}}    {{arr['positions'][i][0]}}    {{arr['positions'][i][1]}}    {{arr['positions'][i][2]}}
{% endfor %}
{% endif %}